@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Pixelify Sans", sans-serif;
}

body {
    height: 100vh;
    background-color: #000;
    background-image: url(stars.jpg);
    background-size: cover;
}

li {
    list-style: none;
}

a{
    text-decoration: none;
    color: #b1b1b1;
    font-size: 1.5rem;
}

a:hover {
    color: #edf0f1;
}

header {
    position: relative;
    padding: 0 2rem;
}

/* Navbar CSS */

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 3px 3px 5px hsl(218, 3%, 52%), -3px -3px 5px hsl(200, 5%, 62%);
    transition: all 0.3s ease 0s;
}

.navbar .links {
    display: flex;
    gap: 4rem;
    transition: all 0.3s ease 0s
}

.navbar .links li a{
    transition: all 0.3s ease 0s
}

.navbar .toggle-btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

/* Action Button CSS */

button {
    transition: all 0.5s;
    font-size: 17px;
    padding: 1ch 2ch;
    background-color: white;
    color: #000;
    border: none;
    border-radius: 2px;
    box-shadow: 2px 2px 0px hsl(0, 0%, 90%),
      4px 4px 0px hsl(0, 0%, 80%),
      6px 6px 0px hsl(0, 0%, 70%),
      8px 8px 0px hsl(0, 0%, 60%),
      10px 10px 0px hsl(0, 0%, 50%),
      12px 12px 0px hsl(0, 0%, 40%),
      14px 14px 0px hsl(0, 0%, 30%),
      16px 16px 0px hsl(0, 0%, 20%),
      18px 18px 0px hsl(0, 0%, 10%);
}
  
button:hover {
    background-color: hsl(0, 0%, 0%);
    color: #fff;
    box-shadow: none;
}

/* Dropdown Menu CSS */

.dropdown-menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: transparent;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open {
    height: 275px;
}

.dropdown-menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu li a {
    transition: all 0.3s ease 0s
}

.dropdown-menu .action-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

section.hero {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

/* Card CSS */

.card {
    width: 1210px;
    height: 454px;
    border-radius: 4px;
    background: transparent;
    display: flex;
    gap: 100px;
}
  
.card p {
    height: 100%;
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px;
    transition: all .5s;
    background: rgb(17, 17, 17);
    border: 1px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 0px hsl(0, 0%, 90%),
      4px 4px 0px hsl(0, 0%, 80%),
      6px 6px 0px hsl(0, 0%, 70%),
      8px 8px 0px hsl(0, 0%, 60%),
      10px 10px 0px hsl(0, 0%, 50%),
      12px 12px 0px hsl(0, 0%, 40%),
      14px 14px 0px hsl(0, 0%, 30%),
      16px 16px 0px hsl(0, 0%, 20%),
      18px 18px 0px hsl(0, 0%, 10%);
}
  
.card p:hover {
    flex: 3;
}
  
.card p span {
    min-width: 14em;
    padding: .5em;
    text-align: center;
    transform: rotate(-90deg);
    transition: all .5s;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: .1em;
}
  
.card p:hover span {
    transform: rotate(0);
}

/* Footer CSS */

footer {
    position: relative;
    width: 100%;
    min-height: 10px;
    padding: 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social_icon, .menu, form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

footer .social_icon li, .menu {
    list-style: none;
}

footer .social_icon li a {
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social_icon li a:hover {
    transform: translateY(-10px);
}

footer .menu li a{
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}

footer .menu li a:hover {
    opacity: 1;
}

footer p {
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}


/* Form CSS */

form {
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
    flex-direction: column;
    gap: 20px;
}

.form-container {
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
    flex-direction: column;
    gap: 20px;
}

.form-container h1 {
    color: #fff;
    font-size: 40px;
    margin-bottom: 5px;
}

.contact-inputs {
    width: 400px;
    height: 30px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    border-radius: 5px;
}

.contact-inputs-textarea {
    height: 140px;
    width: 400px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    border-radius: 5px;
}

.contact-inputs:focus, .contact-inputs-textarea:focus{
    border: 2px solid #5c5959;
}

button {
    border: none;
    cursor: pointer;
}
/* Media Queries */

@media(max-width: 992px){
    .navbar .links,
    .navbar .action-btn {
        display: none;
    }

    .navbar .toggle-btn {
        display: block;
    }

    .dropdown-menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown-menu {
        left: 2rem;
        width: unset;
    }
}